@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@font-face{
  src: url("../webfonts/diagramm/Diagramm-Regular.ttf");
  font-family: "Diagramm";
}
@font-face {
  font-family: 'Acumin Pro ExtraCondensed';
  src: url("../webfonts/acomin-pro-extra/fonts/fonnts.com-Acumin_Pro_ExtraCondensed_Light.otf");
}

/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img{
  max-width:100%;
  display:block;
}

/* ROOT */
:root{
  --nav-height:80px;
}

/* BODY */
body{
  height:100dvh;
  overflow:hidden;
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
.main-navbar{
  height:var(--nav-height);
  z-index:999;
}

.brand-logo{
  width:72px;
}
.left-bar{
  width:29px;
}
.user-icon,.cart-icon{
  width:25px;
}

/* BANNER */
.banner_area{
  height:calc(100dvh - var(--nav-height));
  margin-top:var(--nav-height);
  background:url("../image/home-image/banner_bg_image.webp") no-repeat center/cover;
  background-color:#282828;
  background-blend-mode:multiply;
  position:relative;
  overflow:hidden;
}

/* CENTER CONTENT */
.banner_text_earphone_area{
  position:relative;
  max-width:900px;
  margin:0 auto;
}

/* EARPHONE */
.banner_earphone_image_area{
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  width:clamp(140px,22vw,280px);
}

/* TEXT */
.banner_text_area_heading{
  font-family:"Diagramm";
  color:#00AEEF;
  font-size:clamp(32px,5vw,90px);
}

.banner_text_area_des{
  font-family:"Acumin Pro ExtraCondensed";
  font-size:clamp(14px,1.5vw,28px);
  margin-bottom:clamp(10px,2vh,30px);
  color:#fff;
}

/* BUTTON */
.discover-btn{
  background:linear-gradient(92.92deg,#00AEEF 0%,#006ADA 100%);
  color:#fff;
  border:none;
  padding:clamp(6px,1vh,12px) clamp(20px,3vw,40px);
  font-size:clamp(14px,1vw,18px);
}

/* SIDEBARS */
.banner_sidebar_one,
.banner_sidebar_two{
  position:absolute;
  top:22%;
}

.banner_sidebar_one{
  left:0;
}
.banner_sidebar_two{
  right:0;
}